@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");

.slickSliderA {
    width: 1510px;
    height: 90vh;
    // display: flex;
    align-items: center;
    overflow: hidden;

    .slickSliderItem {
        width: 100%;
        height: 85vh;
        border: solid 2px blanchedalmond;
        background-size: 100%;
        transition: .6s;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;

        .sliderSliderSubItem {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            color: white;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(black, .5);
            z-index: 1;
            opacity: 0;
            transition: .6s;

            &:hover {
                opacity: 1;
            }
        }

        &:hover {
            background-size: 110%;
        }

        &1 {
            background-image: url('../../images/SliderAImage/friends.jpg');
            background-size: 180%;

            &:hover {
                background-size: 190%;
            }
        }

        &2 {
            background-image: url('../../images/SliderAImage/job.jpg');
        }

        &3 {
            background-image: url('../../images/SliderAImage/image2.jpg');
        }

        &4 {
            background-image: url('../../images/SliderAImage/family.jpg');
        }

        &5 {
            background-image: url('../../images/SliderAImage/image2.jpg');
        }

        &6 {
            background-image: url('../../images/SliderAImage/image3.jpg');
        }
    }
}